<!DOCTYPE html>
<html>
  <head>
  <style>
    .rouge {
      color: red;
    }
    .jaune {
      color: yellow;
    }
  </style> 
</head>
<body>

<p>Hello {{ name }} !</p>
  
<p> Vous avez choisie:
  {% if  couleur === 'rouge' %}
  <ul class="rouge">
      {% for i in rouge %}
        <li>{{ i }} </li>
      {% endfor %}
  </ul>
  {% elif couleur === 'jaune' %}
  <ul class="jaune">
      {% for i in jaune %}
        <li>{{ i }} </li>
      {% endfor %}
  </ul>
  {% endif %}
</p>
<!--<p>
    <a href="/bye/{{ name }}"> bye</a>
</p>-->
  <form action="/bye" method = "POST">
    <p>
      <input type="hidden" name="name" value= "{{ name }}" >
    </p>
    <p>
      <input type="submit" value="bye">
    </p>
</form>

 
</body>
</html>
